In [1]:
### Import Libraries

import pathlib
from pathlib import Path 
import csv
import pandas as pd

### Creating Pybank budget data path
budgetdata_path="/Users/feiyiyang/Downloads/budget_data.csv"

pd.read_csv(budgetdata_path)

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [12]:
df=pd.read_csv(budgetdata_path)
#The total number of months included in the dataset.
count=0
for i in df["Date"]:
    count+=1
print(f"Total Months: {count}")

Total Months: 86

In [14]:
#The net total amount of Profit/Losses over the entire period.
sum=0
for pnl in df["Profit/Losses"]:
    sum=sum+pnl
print(f"Total: {sum}")

Total: 38382578

In [22]:
#The average of the changes in Profit/Losses over the entire period.
# delta=0
# sum_delta=0
# for i in range(1,len(df["Profit/Losses"])):
#     delta = df["Profit/Losses"][i] - df["Profit/Losses"][i-1]
#     sum_delta+=sum_delta+delta
#     print(delta)
average_pnl=round(sum/count,2)
print(f"Average Change: {average_pnl}")

Average Change: 446309.05

In [25]:
#The greatest increase in profits (date and amount) over the entire period.
maximum=df["Profit/Losses"][0]
maximum_date=None
for i in range(len(df["Profit/Losses"])):
    if maximum<df["Profit/Losses"][i]:
        maximum=df["Profit/Losses"][i]
        maximum_date=df["Date"][i]
    else:
        maximum=maximum
        maximum_date=maximum_date

print(f"Greatest Increase in Profits: {maximum_date} (${maximum})")

Greatest Increase in Profits: Feb-2012 ($1170593)

In [26]:
#The greatest decrease in losses (date and amount) over the entire period. 
minimum=df["Profit/Losses"][0]
minimum_date=None
for i in range(len(df["Profit/Losses"])):
    if minimum>df["Profit/Losses"][i]:
        minimum=df["Profit/Losses"][i]
        minimum_date=df["Date"][i]
    else:
        minimum=minimum
        minimum_date=minimum_date

print(f"Greatest Decrease in Profits: {minimum_date} (${minimum })")

Greatest Decrease in Profits: Sep-2013 ($-1196225)

In [33]:
#Check the current directory where the Python program is executing from
print(f"Current Working Directory: {Path.cwd()}")

# Set output file name and write txt file
output_path = 'output.txt'
with open (output_path,'w') as file:
    file.write(f"Total Months: {count}\n") 
    file.write(f"Total: {sum}\n")
    file.write(f"Average Change: {average_pnl}\n")
    file.write(f"Greatest Increase in Profits: {maximum_date} (${maximum})\n")
    file.write(f"Greatest Decrease in Profits: {minimum_date} (${minimum })")

Current Working Directory: /Users/feiyiyang/Documents/Bootcamp/python-homework/Pybank

In [ ]:
budgedata